# Python
__pycache__/
*.py[cod]
*.env
venv/
.venv/

# Secrets
secrets/
*.key
*.pem
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Vite cache (generated, no need to commit)
frontend/.vite/

# Claude Code internal
.claude/

# Node
frontend/node_modules/
frontend/dist/